/* style.css */
body {
  background-color: #020418; /* Deep, moody blue */
  margin: 0;
  overflow: hidden; /* Prevents scrollbars */
}

.hero-mount {
  width: 100vw;
  height: 86vh;
  align-self: center;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 5vh;
  align-items: center;
  padding: 1vh 0px 1vh 0px;
  background-color: #010314;
}

.nav-item {
  width: 10vw;
}

.nav-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.nav-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 10px;
}

.footer-container {
  display: flex;
  position: sticky;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  justify-content: center;
  align-items: center;
  padding: 1vh 0px 1vh 0px;
  background-color: #010314;
}